<div class= "not-card not-card1">
<h1 class="float-left">Users</h1>
<table id="table_id" class="table">

<thead>
    <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Email</th>
    <th>Created User</th>
    <th>Type</th>
    <th>Phone</th>
    <th>DOB</th>
    <th>Address</th>
    
   
    <th>Operations</th>
   
    </tr>
</thead>

<tbody>
    
    <% @users.each do |user| %>
    <tr>
        <td> <%= user.id %> </td>
        <td><%= link_to user.name, user_path(user), {:remote => true, 'data-toggle' =>  "modal"} %></td>
        <td> <%= user.email %> </td>
        <td> <%= user.created_user.name %> </td>
        <td> <%= user.role == '0' ? 'Admin' : 'User'  %> </td>
        <td> <%= user.phone %> </td>
        <td> <%= user.dob %> </td>
        <td> <%= user.address %> </td>
        <td>
        <%= link_to 'Delete', '#', "data-toggle"=>"modal", "data-target" => "#deletepost_#{user.id}",:class=>'btn button1 button_del' %>
        </td>

        <div class="modal fade" id="deletepost_<%= user.id %>">
        <div class="modal-dialog">
        <div class="modal-content">
                <div class="modal-header">
            <h5 class="modal-title">User Detete Confirmation</h5>
                </div>
                <div class="modal-body">
                <p>Are you sure you want to delete this user and its all posts?</p>
                </div>
                <div class="modal-footer">
                    <a href="#" data-dismiss="modal" class="btn button1">Cancel</a>
                    <%= link_to "Delete", user_path(user), method: :delete, class: 'btn button1 button_del'%>
                </div>
            </div>
            </div>
        </div> 
        
       
        <td>
      
        </td>
        
     
        </tr>
         <% end%>
      

</tbody>
</table>
<div id="userDetail" class="modal fade" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="width:700px"></div>
  </div>
</div>
</div>


