<%= form_with model: @user, url: password_reset_edit_path(token: params[:token]) do |form| %>
    <div class="form-group card">
        <h2>Reset your password</h2>
        
        <div>
        <%= form.label :password, class:" col-form-label" %>
        <%= form.password_field :password, class:"form-control" %>
        </div>
    
        <div>
        <%= form.label :confirm_password, class:" col-form-label" %>
        <%= form.password_field :password_confirmation, class:"form-control" %>
        </div>
        
        <%= form.submit "Reset", class:"btn button1 mv-20" %>
    </div>

  <% end %> 