<div class="form-group form-wrapper">
    <h1 class="mv-20">Upload CSV</h1>
  <%= form_tag import_csv_posts_path, multipart: true do |form| %>

    <div class="field form-group row">
      <div class="col-sm-2 col-form-label text-end"> CSV file </div>
      <div class="form-control"><%= file_field_tag :file, accept: 'text/csv' %></div>
    </div>

    <div class="actions">
      <%= submit_tag "Upload", class: 'btn button1 mv-20' %>
      <%= button_tag "Clear", class: 'btn button1 mv-20', type: :reset %>
      <%= link_to 'Back', posts_path, class:"btn button1 button2 mv-20" %>
    </div>
    
<% end %>
</div>