
<nav class="navbar navbar-expand-lg" style="background-color: #1FEEC5;">
<%= link_to "OJT", root_path , class:"navbar-brand text-dark" %>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav mr-auto">
      <% if current_user.role == "admin" %>
      <li class="nav-item">
          <%= link_to "User List", users_path , class:"nav-link text-dark" %>
      </li>
      <% end %>
      <li class="nav-item">
          <%= link_to "Post List", posts_path , class:"nav-link text-dark" %>
      </li>          
  </ul>
  <ul class="navbar-nav my-sm-0">
  <% if current_user.role == "admin" %>
    <li class="nav-item">
      <%= link_to "Create User", new_user_path , class:"nav-link text-dark" %>
    </li>
  <% end %>
    <li class="nav-item">
    <div class="dropdown show">
      <% if current_user.present? %>
        <a class="nav-link dropdown-toggle text-dark" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= current_user.name %>
        </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" style="left:-65px;">
          <a class="dropdown-item" href="/users/<%= current_user.id %>">Profile</a>
          <%= link_to "Log Out", logout_path , class:"dropdown-item" %>
        </div>
      <% else %>
        <a class="nav-link dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= current_user.name %>
        </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" style="left:-76px;">
          <a class="dropdown-item" href="/users/<%= current_user.id %>">Profile</a>
          <%= link_to "Log Out", logout_path , class:"dropdown-item" %>
        </div>        
    <% end %>
    </div>
    </li>
  </ul>
</div>
</nav>